<!DOCTYPE html>
<html>
  <head>
    <title>Chitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="flash time-limit">
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="flash time-limit">
        <p><%= alert %></p>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
